<h1>Rediger Plastisk Kirurgi</h1>

<%= render 'form' %>
<br/><br/><br/><br/><br/><br/>
    <%= link_to 'Slett hele', @kirurgi, method: :delete, :class => "delete-button", data: { confirm: 'Er du sikker på at du vil slette hele kategorien?' } %>
