<div id="left">
	<h1></h1>
<img src="http://lindasadoff.com/wp-content/uploads/2010/12/OfficeHouse.jpg" alt="bilde">
</div>

<div id="center">
	
	<h1>Om oss</h1>
</div>


<div id="right">
		<%= link_to "Om oss", "/omoss", :class => "at"  %>
		<%= link_to "Ansatte", legers_path%>
		<%= link_to "Bilder", "/gal" %>
</div>

