
<div id="gallerywrapper">

<div id="gallery">
		<img src="http://imgs.mi9.com/uploads/landscape/3908/australia-sydney-photo-picture-treasure-island-o11_1920x1080_61727.jpg" name="Main" id="image">
		</div>
		<div id="thumbwrapper">
		<div class="thumb" id="p1">
		<a href="" onclick="changePic('p1');return false;"><img src="http://imgs.mi9.com/uploads/landscape/3908/australia-sydney-photo-picture-treasure-island-o11_1920x1080_61727.jpg" name="p1" ></a>
		
		</div>
		<div class="thumb" id="p2">
		<img onclick="changePic('p2');return false;" src="http://animal.discovery.com/birds/peacock/pictures/peacock-picture.jpg" name="p2" />
		</div>
		<div class="thumb" id="p3">
		<img onclick="changePic('p3');return false;" src="http://www.9ori.com/store/media/images/8ab579a656.jpg" name="p3" />
		</div>
		<div class="thumb" id="p3">
		<img onclick="changePic('p4');return false;" src="http://animal.discovery.com/amphibians/salamander/pictures/salamander-picture.jpg" name="p4" />
		</div>
		
		<div class="thumb" id="p3">
		<img onclick="changePic('p5');return false;" src="http://animal.discovery.com/reptiles/snake/pictures/snake-picture.jpg" name="p5" />
		</div>
		
		<div class="thumb" id="p3">
		<img onclick="changePic('p6');return false;" src="http://www.nakedcapitalism.com/wp-content/uploads/2010/06/Picture-8.png" name="p6" />
		</div>
		
		<div class="thumb" id="p7">
		<img onclick="changePic('p7');return false;" src="http://animal.discovery.com/mammals/grizzly-bear/pictures/grizzly-bear-picture.jpg" name="p7" />
		</div>
		</div>
		
</div>


