
	<% if Sider.find(:all).count > 0 %>

	<% if s =  Sider.find_by_title("Hjem") %>



<div id="section">

           <ul id="slider" class="anythingBase horizontal">
           	
         <li>
         	<div class="overlay-text">
         		<h3>Velkommen til oss!</h3>
         		<p>Eksempel tekst Eksempel tekst Eksempel tekst Eksempel tekst </p>
         		</div>
         	<div class="overlay">
         		
         	</div>
         	<img src="https://dl.dropbox.com/u/7238474/leger/image-slider-4.jpg" alt="Pure Javascript. No jQuery. No flash." />
         	
         </li>
           
           <li> <img src="https://dl.dropbox.com/u/7238474/leger/image-slider-2.jpg" alt="#htmlcaption" /></li>
           <li> <img src="https://dl.dropbox.com/u/7238474/leger/image-slider-3.jpg" /></li>
        </ul>
	
	
	
	
</div>





<% end%>
<% else %>
<div id="section">
	<p>
		Ingenting her
	</p>
</div>
<% end %> 