
	<% if Sider.find(:all).count > 0 %>

	<% if s =  Sider.find_by_title("Hjem") %>



<div id="section">
	<img class="mainImg" src="<%= s.picture %>" alt="bilde"/>
</div>





<% end%>
<% else %>
<div id="section">
	<p>
		Ingenting her
	</p>
</div>
<% end %> 