/*.buttonLinks p{
	margin-top:10px;
	margin-right:10px;
	width:auto;
	color:#fff;
	float:left;
	padding:5px;
	background:#546787;
	text-decoration:none;
}
.buttonLinks a{
	margin-top:10px;
	margin-right:10px;
	width:auto;
	color:#fff;
	float:left;
	padding:5px;
	background:#546787;
	text-decoration:none;
}
.buttonLinks a:hover{
	background:#000;
	
}

#form-links{
	margin-top:10px;
	margin-bottom:20px;
}
#form-links a{
	width:auto;
	color:#fff;
	
	padding:5px;
	background:#546787;
	text-decoration:none;
}
#form-links a:hover{
	text-decoration: underline;
}
*/
#child{
	height:auto;
	background:#bf0000;
}
.remove_fields{
	color:#bf0000;
}


#red{
	color:#bf0000;
}
#green{
	padding:20px;
	float:left;
	color:#00611C;	
}

.actions{
	display:block;
	float:left;
	width:100%;
	padding:20px;
}
.actions h5{
	margin:0 0 20px 0;
}
.actions input[type=submit]{
	background:#00611C;
	outline:none;
	padding:10px;
	border-radius:3px;
	color:#fff;
	font-size:14px;
	margin:0 10px 0 0;
	cursor:pointer;
	border:none;
}
.endFormsWrapper{
	float:left;
	width:100%;
	padding:10px 20px 10px 20px;
}
.cancel{
	background:#bf0000;
	padding:9px;
	color:#fff;
	font-size:14px;
	border-radius:3px;
	margin:0 10px 0 0;
	text-decoration:none;
}

.widgContainer {
	background:#fff;
	width:96%;
	margin:0 auto;
}
.moveDown{
	margin:20px 0 20px 0;
	display: block;
}
