body {
	font-family: Trebuchet, 'Trebuchet MS', sans-serif;
	background: #fff;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0px;
	padding-top: 0;
}
p{
	font-size:0.8em;
}
#rightSide a{
	font-size:0.8em;
}
#leftSide a{
	font-size:0.8em;
}
#headerWrapper {
	width: 100%;
	height: 100px;
	background-color: #fff;
}
#header {

	width: 960px;
	height: 100px;
	background: #fff;
	margin: 0 auto;
}

#logo {
	width: 200px;
	margin: 0 auto;
	height: 100px;
	background: #fff;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
	color: #000;
}

#navWrapper {
	width: 100%;
	height: auto;
	border-top: 1px solid #fff;
	background-color: #fff;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#nav {
	margin: 0 auto;
	width: 960px;
	height: 20px;
	display: block;
	padding: 10px 0 10px 0;
	background-color: #fff;
}
#nav a {
	color: #000;
	text-decoration: none;
	padding: 0px 5px 0 15px;
	margin: 0 30px 0 0;
	float: left;
}
#subMenuWrapper {
	width: 100%;
	z-index: 9;
	position: absolute;
	margin-left: -8px;
}

.category {
	float: left;
	width: 100%;
	text-decoration: underline;
	color: #000;
	margin: 0 0 10px 0;
}
.subMenuLeftBox {
	float: left;
	width: 180px;
	display: block;
	padding: 0 6px 0 0;
}
.subMenuLeftBox li a {
	color: #06396D;
	text-decoration: none;
}
.subMenuLeftBox a:hover {
	text-decoration: underline;
}

.subMenuLeftBox ul {
	margin: 0;
	float: left;
	width: 160px;
	padding: 0 0 0 20px;
	color: #06396D;
}
.subMenuLeftBox li {
	padding: 0 0 5px 0;
}

#kirurgi {
	width: 930px;
	padding: 10px 15px 0 15px;
	min-height: 260px;
	margin: 10px auto;
	z-index: 30;
	opacity: 0.9;
	display: none;
	background-color: #fff;
}
#hud {
	width: 930px;
	padding: 10px 15px 0 15px;
	margin: 10px auto;
	z-index: 30;
	min-height: 40px;
	opacity: 0.9;
	display: none;
	background-color: #fff;
}
#hud li a {
	color: #06396D;
	text-decoration: none;
	padding: 0 40px 0 0;
}

#hud ul {
	margin: 0;
	float: left;
	padding: 0 0 0 20px;
	color: #06396D;
}
#hud li {

	float: left;
}

#hud a:hover {
	text-decoration: underline;
}
#innerWrapper {
	float: left;
	height: auto;
	padding: 0 0 0 0;
}

#article {
	float: left;
	width: 974px;
	height: 480px;
	overflow-y: auto;
	padding: 0 0 0 0;
	background: #fff;
}

#article img {
	max-height: 440px;
}
#section {
	float: left;
	width: 930px;
	height: auto;
	background: #fff;
	padding: 15px;
}
.mainImg {
	width: 930px;
	margin: 0 auto;
}
#wideSection {
	float: left;
	width: 745px;
	height: auto;
	background: #fff;
	padding: 15px;
}
#rightSide {
	float: left;
	width: 115px;
	height: auto;
	background: #fff;
	padding: 15px 0px 15px 0px;
}

#rightSide a {
	float: left;
	width: 100%;
	margin:5px 0 0 0;
	text-decoration: none;
	color: #0000FF;
	line-height: 1.5;
}
#rightSide a:visited {

}
#rightSide a:hover {
	text-decoration: underline;
}
#leftSide a {
	float: left;
	width: 100%;
	text-decoration: none;
	color: #0000FF;
}
#leftSide a:visited {

}
#leftSide a:hover {
	text-decoration: underline;
}
#leftSide {
	float: left;
	width: 250px;
	height: auto;
	background: #fff;
	padding: 15px 0 15px 15px;
}

#rightSide img {
	width: 200px;
}
#leftSide img {
	width: 245px;
}
#centerSection {
	float: left;
	width: 520px;
	height: auto;
	background: #fff;
	padding: 15px;
}

#footerWrapper {
	float: left;
	width: 100%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#footer {
	margin: 0 auto;
	width: 960px;
	text-align: center;
}

#footer p {
	font-size: 0.8em;
}

/* GALLERY */
#gallerywrapper {
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
#gallery {
	margin: 0 auto;
	width: 800px;
	height: 380px;
}
#gallery img {
	margin: 0 auto;
	width: 800px;
	height: 374px;
}
#thumbwrapper {
	width: 800px;
	height: auto;
	margin: 0 auto;
}
.thumb img {
	float: left;
	width: 114px;
	height: 74px;
}
/* END GALLERY */

/* DOCTORS */
.doctor {
	float:left;
	width:350px;
	margin:20px 20px 0 0;
}
.doctor img {
	width: 150px;
	float: left;
	padding: 0 10px 5px 0;
}

/*END DOCTORS*/
.margin-top {
	margin-top: 20px;
}

/* CONTACT US */
#booking {
	width: 460px;
	height: auto;
	padding: 15px;
	float: left;
}

#contactUs {
	width: 430px;
	padding: 15px;
	float: left;
}

.labelField {
	float: left;
	width: 100px;
	margin: 0 0 10px 0;
}
.inputField input[type=submit]{
	margin:0 120px 0 50px;
	float:right;
	padding:5px 10px 5px 10px;
	font-size:14px;
	border:none;
	outline: none;
	background:#666;
	border-radius:3px;
	color:#fff;
	cursor: pointer;
	
	
}
.inputField {
	float: left;
	width: 350px;
	margin: 0 0 10px 0;
}
.middle {
	width: 352px;
	padding: 40px 0 0 0;
	float: left;
}
.middle img {
	width: 290px;
	border: 1px solid #000;
}
.middle img:hover{
	cursor: pointer;
}

#contact-info {
	float: left;
	width: 400px;
	margin: 20px 0 0 0;
}

.info-wrapper {
	margin: 5px 0 0 0;
	float: left;
}
.thumb-row {
	width: 50px;
	height: 32px;
	float: left;
}
.thumb-row img {
	padding: 5px 0 0 0;
}

.info-row {
	width: 300px;
	height: 32px;
	float: left;
}

/* END CONTACT US */
