body{
	font-family: Trebuchet, 'Trebuchet MS', sans-serif;
	background:#F3F3F3;
}
h1, h2, h3, h4, h5, h6{
	margin-top:0;
	margin-bottom:0px;
	padding-top:0;
}

#headerWrapper{
	width:100%;
	height:100px;
	background-color:#fff;
}
#header{

	width:960px;
	height:100px;
	background:#fff;
	margin:0 auto;
}

#logo{
	width: 200px;
	margin:0 auto;
	height:100px;
	background:#fff;
}

#wrapper{
	width:960px;
	margin:0 auto;
	position:relative;
	color:#000;
}

#navWrapper{
	width:100%;
	height:31px;
	border-top:1px solid #fff;
	background-color:#fff;
}

#nav {
	margin:0 auto;
	width:960px;
	height:30px;
	background-color:#fff;	
}
#nav a {
	color:#000;
	text-decoration: none;
	padding:3px 0px 0 15px;
	float:left;
}
#subMenuWrapper{
		width:100%;
		z-index: 9;
		position:absolute;
		margin-left:-8px;
}

.category{
	float:left;
	width:100%;
	text-decoration: underline;
	color:#000;
	margin:0 0 10px 0;
}
.subMenuLeftBox{
	float:left;
	width:180px;
	display:block;
	padding:0 6px 0 0;
	
}
.subMenuLeftBox li a{
	color:#06396D;
	text-decoration: none;
	
}
.subMenuLeftBox a:hover{
	text-decoration: underline;
}


.subMenuLeftBox ul {
	margin:0;
	float:left;
	width:160px;
	padding:0 0 0 20px;
	color:#06396D;
}
.subMenuLeftBox li  {
	padding:0 0 5px 0;
}


#kirurgi{
	width: 930px;
	padding:0 15px 0 15px;
	min-height: 260px;
	margin:-1px auto;
	z-index: 30;
	opacity:0.9;
	display: none;
	background-color:#fff;

	
}
#hud{
	width: 930px;
	padding:0 15px 0 15px;
	margin:-1px auto;
	z-index: 30;
	min-height:40px;
	opacity:0.9;
	display: none;
	background-color:#fff;
}
#hud li a{
	color:#06396D;
	text-decoration: none;
	padding: 0 40px 0 0;
}


#hud ul {
	margin:0;
	float:left;
	padding:0 0 0 20px;
	color:#06396D;
}
#hud li  {

	float:left;
}



#hud a:hover{
	text-decoration: underline;
}
#innerWrapper{
	float:left;
	height:auto;
	padding:0 0 0 0;
}

#article{
	float:left;
	width:974px;
	max-height:600px;
	overflow-y:auto;
	overflow-x:hidden;
	padding:0 0 0 0;
	background:#fff;
}
#section{
	float:left;
	width:930px;
	height:auto;
	background:#fff;
	padding:15px;
}
.mainImg{
	width: 930px;
	margin:0 auto;
}
#wideSection{
	float:left;
	width:695px;
	height:auto;
	background:#fff;
	padding:15px;	
}
#rightSide{
	float:left;
	width:150px;
	height:auto;
	background:#fff;
	padding: 15px 10px 15px 15px;	
}

#rightSide a{
	float:left;
	width:100%;
	text-decoration: none;
	color:#0000FF;
	line-height: 1.5;
}
#rightSide a:visited{

}
#rightSide a:hover{
	text-decoration: underline;
}
#leftSide a{
	float:left;
	width:100%;
	text-decoration: none;
	color:#0000FF;
}
#leftSide a:visited{

}
#leftSide a:hover{
	text-decoration: underline;
}
#leftSide{
	float:left;
	width:200px;
	height:auto;
	background:#fff;
	padding: 15px;	
}

#rightSide img{
	width:200px;
}
#leftSide img{
	width:200px;
}
#centerSection{
	float:left;
	width:520px;
	height:auto;
	background:#fff;
	padding:15px;
}


#footerWrapper{
	float:left;
	width:100%;
	height:60px;
	background-color:#fff;
}



#footer{
	margin:10px auto;
	width:960px;
	height:40px;
	text-align:center;
	color:#F2F1DC;
	background-repeat:no-repeat;
	background-color:#fff;
}



/* GALLERY */
#gallerywrapper{
	float:left;
	height:auto;
	width:100%;
	margin-bottom:20px;

}
#gallery{
	margin:0 auto;
	width:800px;
	height: 480px;
	
}
#gallery img{
	margin:0 auto;
	width:800px;
	height:474px;

}
#thumbwrapper{
	width:800px;
	height:auto;
	margin:0 auto;
}
.thumb img{
	float:left;
	width:114px;
	height:74px;
}
/* END GALLERY */

/* DOCTORS */
.doctor img{
	width:200px;
	float:left;
	padding:0 10px 5px 0;	
}


/*END DOCTORS*/
.margin-top{
	margin-top:20px;
}

/* CONTACT US */
#booking{
	width:360px;
	height:auto;
	padding:15px;
	float:left;
}

#contactUs{
	width:530px;
	padding: 15px;
	float:left;

}
.middle{
	width:352px;
	padding:40px 0 0 0;
	float:left;
}
.middle img{
	width:350px;
	
	border:1px solid #000;

}

#contact-info{
	float:left;
	width:400px;
	margin:20px 0 0 0;
}


.info-wrapper{
	margin:5px 0 0 0;
	float:left;
}
.thumb-row{
	width:50px;
	height:32px;
	float:left;

}
.thumb-row img{
	padding:5px 0 0 0;

}

.info-row{
	width:300px;
	height:50px;
	float:left;

}

/* END CONTACT US */
